* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-os-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --brand-colors-explorer-dark: #065e7c;
  --brand-colors-exeplorer-input: #387e96;
  --brand-colors-explorer-white: #ffffff;
}

html,
body,
input {
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
}
.page {
  min-height: 43rem;
}
.page header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2.8rem;
  gap: 2.5rem;
  background-color: var(--brand-colors-explorer-dark);
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 7.3rem 1.2rem 1.4rem;
  height: 4rem;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--brand-colors-exeplorer-input);

  color: var(--brand-colors-explorer-white);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6rem;
}
.input-wrapper input::placeholder {
  color: var(--brand-colors-explorer-white);
}
.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  object-fit: cover;

  border-radius: 50%;
}

.container {
  max-width: 43rem;
  margin: 0 auto;
}
main h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.8rem;
  margin: 3.1rem 6.2rem 0.8rem 2.2rem;
}

main p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;

  margin: 3.1rem 2.6rem 3.4rem 2.2rem;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

aside h1 {
  margin: 0 2.6rem 0 2.2rem;
}
.articles {
  display: flex;
  margin: 0 2.6rem 0 2.2rem;
  gap: 1.6rem;
}

.articles h2 {
  font-size: 1.8rem;
  font-weight: 700;
  list-style: 2.8rem;
}
.articles p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
}

footer {
  background-color: var(--brand-colors-exeplorer-input);
  padding: 1.6rem;
  margin-top: 3.8rem;
}
footer p {
  text-align: center;
  color: var(--brand-colors-explorer-white);
  font-weight: 600;

  padding: 0.8rem;
}
